apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: martins984/capstone-frontend:v1  # <--- CHANGE THIS!
        ports:
        - containerPort: 8080
        env:
        - name: BACKEND_URL
          value: "http://backend-service" # Connecting to the backend service!

---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  type: LoadBalancer # Allows external access (Minikube handles this)
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080